# general modules
django 
Pillow
djangorestframework
python-decouple


# third party modules
markdown     
django-filter
coreapi
drf-yasg[validation]
djoser
Faker
django-cors-headers


# deployment modules


# email third party modules
django-mail-templated

# refactoring and tests
black
flake8
pytest
pytest-django
autopep8
autoflake

# background proccess and cache
celery
redis

